__pycache__
.idea
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.flaskenv
.gitignore
.parcel-cache
.pnp
.pnp.js
.spec
bertdotbill.egg-info
build
coverage
dist
Dockerfile
node_modules
npm-debug.log
setup.iss
setup.sh
yarn-debug.log
yarn-error.log