# webterminal settings
webterminal:
  # specify extra environmental variables to pass to the webterminal shell session
  env:
    foo: bar
  # override the rightpane webterminal websocket address (not yet implemented)
  rightpane:
    address: ws://127.0.0.1:10001/ws
  # override the footer webterminal websocket address
  footer:
    address: ws://127.0.0.1:10001/ws    
# Specify an external configuration 
# file to be evaluated, with settings merged in
external_configs:
  - name: github
    uri: https://raw.githubusercontent.com/berttejeda/bert.lessons/main/lessons.yaml
# Lesson Topics
topics:
  sometopic:
    lessons:
      - name: Lesson Name 1
        url: https://raw.githubusercontent.com/myusername/mylessonrepo/main/ansible/topic1.md
      - name: Lesson Name 2
        url: https://raw.githubusercontent.com/myusername/mylessonrepo/main/ansible/topic2.md
      - name: Lesson Name 3
        url: https://raw.githubusercontent.com/myusername/mylessonrepo/main/ansible/topic3.md
 sensitive:
   lessons:
      - name: My Sensitive Lesson 1
        url: https://someprivate.website.com/topic1.md
        # per-lesson credentials are not yet implemented
        username: someusername
        password: somepassword        