.footer-container {

  width: 100%;
  height: 30%;
  border: 1px solid;
  overflow-y: scroll;
  background-color: lightblue;
  box-shadow: 10px 10px 8px #888888;
  position: fixed;
  bottom: 0;
  padding: 20px;
  height: 20rem;
  transform: translateX(-1px);
  
}

.mb-3 input, optgroup, select, textarea {
  width: 30em;
}

.mb-3 button {
  margin-left: 2em;
  width: 15em;
  color: revert;
  border: revert;
}

.error-text {
  color: red;
}